# Ignore everything by default
/*

# Don't ignore the environment folder
!/env/   # If your environment folder is named 'venv'
# Or use one of the other names you have:
# !/.venv/  # If your environment folder is '.venv'
# !/.env/   # If your environment folder is '.env'

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Node modules
node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
